/* 全体の設定 */
body {
    font-family: Arial, sans-serif; /* フォントファミリーを設定 */
    margin: 0; /* ページ全体のマージンを0に設定 */
    padding: 0; /* ページ全体のパディングを0に設定 */
    background-color: #f5f5dc;/* 背景色をベージュ色に設定 */
    color: #333; /* テキストの色を目に優しい濃いグレーに設定 */
}

/* メインタイトルの設定 */
h1 {
    width: 300px; /* タイトルの幅を300pxに設定 */
    margin: 20px auto; /* タイトルの上下のマージンを20px、左右のマージンを自動に設定 */
    padding: 30px; /* タイトルの内側の余白を30pxに設定 */
    border: 3px solid lightgreen; /* タイトルにライトグリーンの3pxの枠線を設定 */
    background-color: aquamarine; /* タイトルの背景色をアクアマリンに設定 */
    color: #fff; /* タイトルの文字色を白に設定 */
    font-size: 300%; /* タイトルのフォントサイズを300%に設定 */
    text-align: center; /* タイトルを中央揃えに設定 */
    border-radius: 50%; /* タイトルの角を50%丸めて円形に設定 */
    font-family: "Zen Maru Gothic", serif; /* 特定のフォントファミリーを設定 */
    font-weight: 400; /* フォントの太さを400に設定 */
    font-style: normal; /* フォントスタイルを通常に設定 */
}

/* ヘッダーの設定 */
header {
    background-color: #8bc34a; /* 背景色を柔らかいグリーンに設定 */
    color: #fff; /* 文字色を白に設定 */
    padding: 20px; /* 内側の余白を20pxに設定 */
    text-align: center; /* テキストを中央揃えに設定 */
}

/* ナビゲーションリストの設定 */
nav ul {
    list-style-type: none; /* リストのデフォルトのスタイルを無効化 */
    padding: 0px; /* リストの内側の余白を0に設定 */
    margin: 0; /* リストの外側の余白を0に設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    display: inline; /* リストをインライン表示に設定 */
}

/* ナビゲーションアイテムの設定 */
nav ul li {
    display: inline; /* アイテムをインライン表示に設定 */
    margin-right: 10px; /* アイテムの右側の余白を10pxに設定 */
}

/* ナビゲーションリンクの設定 */
nav ul li a {
    color: #fff; /* リンクの文字色を白に設定 */
    text-decoration: none; /* リンクの下線を無効化 */
    padding: 10px; /* リンクの内側の余白を10pxに設定 */
    border-radius: 5px; /* リンクの角を5px丸める */
}

/* ナビゲーションリンクのホバー効果 */
nav ul li a:hover {
    background-color: #7cb342; /* ホバー時の背景色を少し濃いグリーンに設定 */
    color:#ff92a0;/* ホバー時の文字の色を桜っぽい色に設定 */
}

/* メインコンテンツの設定 */
main {
    padding: 20px; /* 内側の余白を20pxに設定 */
}

/* セクションの設定 */
section {
    margin-bottom: 30px; /* 下側の外側の余白を30pxに設定 */
    background-color: #f0fff0; /* 背景色を白に設定 */
    padding: 20px; /* 内側の余白を20pxに設定 */
    border-radius: 10px; /* 角を10px丸める */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* ボックスシャドウを設定 */
}

/* セクションタイトルの設定 */
h2 {
    color: #4caf50; /* タイトルの文字色をグリーンに設定 */
}


/* フッターの設定 */
footer {
    background-color: #8bc34a; /* 背景色を柔らかいグリーンに設定 */
    color: #fff; /* 文字色を白に設定 */
    padding: 10px; /* 内側の余白を10pxに設定 */
    text-align: center; /* テキストを中央揃えに設定 */
    position: fixed; /* フッターを固定表示に設定 */
    bottom: 0; /* フッターを画面下部に配置 */
    width: 100%; /* フッターの幅を100%に設定 */
}

/* 回り込み設定 */
.imgL{
    float: left;
    border-radius: 50px;/*角を50px丸める*/
    margin-right: 15px;/* 右側の外側の余白を15pxに設定 */
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
